<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" style="margin-top:-10px;float: left;height: 40px;border-radius: 30px;">
                海豚湾美甲店美业管理系统
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signin">登录</a></li>
                <li class="active"><a href="">注册</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br><br><p></p>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h4>用户注册</h4></div>
                <div class="panel-body">
                    <form name="form" class="form-validation" method="post">
                        <div class="text-danger wrapper text-center" ng-show="signupError">
                            {{authError}}
                        </div>
                        <div class="list-group list-group-sm">
                            <div class="list-group-item">
                                <input type="tel" placeholder="手机号" name="phoneMobile" maxlength="11" class="form-control no-border" required>
                            </div>
                            <div class="list-group-item">
                                <input type="password" placeholder="密码" name="password" class="form-control no-border" required>
                            </div>
                            <div class="list-group-item">
                                <input type="password" placeholder="重复密码" class="form-control no-border" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block" >注 册</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
