<div class="container">
    <div class="row">
        <h2 class="text-center">Manage System</h2>
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">用户登录</div>
                <div class="panel-body">
                    <form name="form" class="form-validation" method="post">
                        {{#if signinError }}
                        <div class="text-danger wrapper text-center">
                            {{signinError}}
                        </div>
                        {{/if}}
                        <div class="list-group list-group-sm">
                            <div class="list-group-item">
                                <input type="tel" placeholder="手机号" name="phoneMobile" maxlength="11" class="form-control no-border" required>
                            </div>
                            <div class="list-group-item">
                                <input type="password" placeholder="密码" name="password" class="form-control no-border" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block" >登 录</button>
                        <br />
                        <a href="/signup" class="btn btn-lg btn-default btn-block">注册一个账号</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
