body{
    padding-top: 70px;
}
a:hover{
    text-decoration: none;
}
.btn-file{
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #ffffff;
    cursor: inherit;
    display: block;
}
#footer{
    top:670px;
    position: fixed;
}
.jsitems{
    height:60px;
    border-bottom:1px #e7e7e7 solid;
    padding-top:10px;
}
.jsitems:hover{
    background-color: #e7e7e7;
}
.newMoney{
    font-size: 30px;
}
#a_payType{
    float: left;
    margin-left: 300px;
}
#xianjin{
    border-left: 20px #E0E4CC solid;
    margin-top: 10px;
}
#shuaka{
    border-left: 20px #F7464A solid;
    margin-top: 10px;
}
#alipay{
    border-left: 20px #69D2E7 solid;
    margin-top: 10px;
}
#weixin{
    border-left: 20px #4D5360 solid;
    margin-top: 10px;
}